<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/diet.css">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">-->
    <title>Diet plans</title>
</head>
<body>
<div class="main">
    
    <header>
        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/submit">Diet</a>
            <a href="/fav">FavDiet</a>
            <a href="/calorie">calorie tracker</a>
            <a href="/exercise">Contact</a>
            <a href="/display">profile</a>
            <a href="/submit/add">Add a new item</a>
       </nav>

       <div class="icon">
        <a href="#" class="fas fa-user"></a>
       </div>
    </header>

    <div class="content">
        <h2>Eat Healthy... Live Healthy...</h2>
        <p>Add required items , start your diet from today</p>
    </div>

    <div class="items">
        <% List.forEach((i)=>{ %>
        <div class="box" style="flex-grow: 0; min-width: 340px; min-height: 720px;">

            <div class="image"><img src= <%="./uploads/"+ i.imag %> alt="image not uploaded"></div>
                <br>
            <div class="blocks">
                <h2> <%= i.name %> </h2>
                <p>Carbohydrate (<%= i.carbo %> %) <br> Fat (<%= i.fat %> %) <br> Protein (<%= i.protein%> %)</p>
                <h3><%= i.calorie %> K cal</h3>
            </div>

            <div class="adre">
                <div class="add"><a  href=<%="/addfav/?id="+ i._id +"&name=" + i.name %> >ADD</a></div>
                <div class="rem"><a href=<%= "/submit/diet/delete/?id="+ i._id %>>REMOVE</a></div>
            </div>
        </div>
        <% }) %>
        <br>
        <div style="display: block; flex: none;">
           
    
        </div>
    </div>
    <div>
       
    </div>



</div>
<br>

</body>
</html>