<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/calorie.css">
    <title>Calorie Tracker</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/submit">Diet</a>
            <a href="/fav">FavDiet</a>
            <a href="/calorie">calorie tracker</a>
            <a href="/exercise">exex Tracker</a>
            <a href="/display">profile</a>
        </nav>
    </header>

    <h1>This is Heading</h1>

    <div class="container">
      <div class="intake">
        <div class="content-wrapper">
          <img src="https://clipartcraft.com/images/fire-clipart-emoji-2.png" alt="" width="17%">
          <p class="right-paragraph"><%= Burned_calorie %></p>
          <p class="bottom-paragraph">you have burned this  many calories</p>
        </div>
      </div>
      
      <div class="target">
        <div class="content-wrapper">
          <img src="https://tse4.mm.bing.net/th/id/OIP.-BhUDGbOZj73zmTY9ohOCAHaGd?pid=ImgDet&rs=1" alt="" width="17%">
          <p class="right-paragraph"><%= target %></p>
          <p class="bottom-paragraph">you need to burn this many calories today</p>
        </div>
      </div>
      
    </div>
    <label for="">Add from exresise you have done</label>
    <form action="/exe_add" method="post">
        <div class="horizontal-strip">
          <select name="item" id="item">
            <% Exe.forEach((i)=>{ %>
            <option value= <%= i.id %> > <%= i.name %></option>
            <% }) %>
          </select>
          <div class="amount-box">
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" placeholder="Enter the duration in minutes">
          </div>
          <button type="submit">Add</button>
        </div>
      </form>
    
      <label for="">
        You have did this exerxise today
    </label>
        <div class="intake2">
          <ul>
            <% List.forEach((i)=>{ %>
            <li>name: <%= i.name + "  " %> duration: <%= i.duration %>minutes    calorieburned: <%= i.calorie %>    <a href=<%="/exe_add/?id" + i.id %>>remove</a></li>
            <% }) %>
          </ul>
        </div>
</body>
</html>