<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link href="./css/Profile_Display.css" rel="stylesheet">
</head>
<body>
    
        <header>
            <nav class="navbar">
                <a href="/home">Home</a>
                <a href="/submit">Diet</a>
                <a href="/fav">FavDiet</a>
                <a href="/calorie">calorie tracker</a>
                <a href="/exercise">Contact</a>
                <a href="/display">Profile</a>
           </nav>
           <div class="icon">
            <a href="#" class="fas fa-user"></a>
           </div>
        </header>
        <div class="profile-box">
            
            <h1>Profile Details</h1>
            <img id="profile-image" src= <%= "/uploads/"+ j.image %> alt="Profile Image" width="200" height="200">
            <p><strong>Name: <%= j.name %> </strong> <span id="name"></span></p>
            <p><strong>Age:  <%= j.age %> </strong> <span id="age"></span></p>
            <p><strong>Email: <%= j.email %></strong> <span id="email"></span></p>
            <p><strong>Height: <%= j.height %> </strong> <span id="height"></span> feet</p>
            <p><strong>Weight: <%= j.weight %></strong> <span id="weight"></span> K.G's</p>
            <p><strong>Gender: <%= j.gender %> </strong> <span id="gender"></span></p>
            <p><strong>BMI:  <%= j.bmi %></strong> <span id="bmi"></span></p>
            <div class="edit-profile">
                <a href="/profile">Edit Details</a>
            </div>
          
        </div>        
  

    
</body>
</html>
